body {
  background: url("../../access/images/background.jpg") no-repeat fixed top;
  color: #f0f0f0;
  font-family: scada;

}

.branding {
  max-width: 40%;
  display: inline-block;
  color: white;
  font-family: scada;
  margin: auto;
}

#content-all {
  display: block;
  margin: auto;
  width: 80%;
  margin-top: 0;
  border: 1px solid grey;
}

.content {
  height: 100%;
}

.dropdown {
  display: table;
  height: 100%;
  font-family: Verdana;
  font-size: 11px;
  flex-direction: row;
  text-align: center;
  width: 20%;
  background-color: rgba(23, 79, 37, 0.91);
}

.dropdown-toggle {
  color: white;
}

#header {
  display: block;
  width: 100%;
  border: 1px solid grey;
  height: 100px;
  vertical-align: middle;
}

.headphones {
  display: block;
  border: 1px solid black;
}

.image-header {
  height: 140px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.logo-holder {
  position: relative;
  width: 40%;
  display: inline-block;
  text-align: center;
  margin: auto;
}

.logo-holder-holder {
  width: 40%;
  display: block;
}

.main {
  width: 100%;
}

.moose-product_image {
  max-height: 150px;
  max-width: 150px;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 0;
  padding: 0px;
}

.navbar {
  /*display: table;*/
  height: 50px;
  background-color: #050505;
  opacity: 0.7;
  width: 100%;
}

.navbar .nav>li>a {
  text-align: center;
  color: #f0f0f0;
  text-shadow: none;
  line-height: 11px;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: auto;
  height: 100%;
}

#page-header-img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 140px;
  display: block;
  overflow: none;
}

.row {
  width: 100%;
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 20%;
  height: 100%;
  float: left;
}

ul {
  list-style-type: none;
}


